:root {
	// Base colors
	--clr-bg: #2d2d2d;

	// Text colors
	--clr-text-default: rgb(255, 255, 255);
	// --clr-text-default-050: rgb(255, 255, 255, 0.5);

	// Primary colors
	// --clr-primary: rgb(0, 0, 0);
	// --clr-primary-050: rgb(0, 0, 0, 0.5);

	// Secondary colors
	// --clr-secondary: rgb(0, 0, 0);
	// --clr-secondary-050: rgb(0, 0, 0, 0.5);

	// Fonts
	--ff-primary: 'Arial', Helvetica, sans-serif;
	--ff-secondary: 'Times New Roman', Times, serif;

	--fw-normal: 400;
}

// Sizes
$containerWidth: 1260;
$containerPadding: 25;