@keyframes taskExpand {
	0% {
		grid-template-rows: 0fr;
		border-style: none;

		margin-top: rem(0);
	}

	100% {
		grid-template-rows: 1fr;
		border-style: solid;

		margin-top: rem(10);
	}
}

@keyframes taskWrap {
	0% {
		grid-template-rows: 1fr;
		border-style: solid;

		margin-top: rem(10);
	}

	100% {
		grid-template-rows: 0fr;
		border-style: none;

		margin-top: rem(0);
	}
}

@keyframes dialogAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes backdropAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.2;
	}
}