// Scrollbar styles
// ::-webkit-scrollbar {
// 	width: rem(12);
// }

// ::-webkit-scrollbar-thumb {
// 	border: rem(2) solid rgba(0, 0, 0, 0);
// 	background-clip: padding-box;
// 	border-radius: rem(5);
// 	background-color: var(--accent-color);
// }

// ::-webkit-scrollbar-button {
// 	width: 0;
// 	height: 0;
// 	display: none;
// }

// ::-webkit-scrollbar-corner {
// 	background-color: transparent;
// }

// Autocomplete styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
}