/* =============== Fonts =============== */
// Google Fonts
// @import url();

// Local Fonts
// @import "./fonts/_fonts";

// Icon Fonts
// @import "./fonts/iconfont";

/* ===================================== */

// Reset CSS
@import "./base/reset";

// SASS/SCSS Functions
@import "./base/functions";

// SASS/SCSS mixins
@import "./base/mixins";

// SASS/SCSS Variables
@import "./base/variables";

// General styles
@import "./base/general";

// Animations
@import "./animations";

// Form elements
// @import "./form/checkboxes";
// @import "./form/radiobuttons";

// Additional styles
@import "./pseudo-elements";
@import "./pseudo-classes";

html {
	font-family: var(--ff-primary);
	font-style: normal;
	font-weight: var(--fw-normal);

	color: var(--clr-text-default);
	background-color: var(--clr-bg);

	scroll-behavior: smooth;
	scroll-padding-top: initial;
}

body {
	min-height: 100%;

	&.--modal-opened,
	&.--burger-menu-opened {
		touch-action: none;
		overflow: hidden;
	}
}

.wrapper {
	min-height: 100%;

	display: flex;
	flex-direction: column;
	overflow: hidden;

	&>main {
		flex: 1 1 auto;
	}
}

// Blocks
@import "./blocks/*.scss";

// Pages
@import "./pages/*.scss";